body {
    font-family: sans-serif;
    font-size: 15px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.flex-row .space-around {
    justify-content: space-around;
}

button {
    border: 1px solid #0D683C;
    background-color: #0D683C;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    padding: 8px 25px;
}

input {
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 30px;
    padding: 5px 10px;
    width: 100px;
}

.dice-display {
    max-width: 600px;
}

label {
    width: 200px;
}

.dice-display i {
    margin: 5px 10px;
}

.fa-dice-six, .fa-dice-five {
    color: #0D683C;
}

.fa-dice-one {
    color: #D12C1A;
}

.roll-result {
    margin-left: 20px;
}

.dice-input {
    width: 400px;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 20px;
    }
    label {
        font-size: 30px;
    }

    input {
        width: 100px;
    }

    button {
        font-size: 30px;
    }

    .numerical-output {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .numerical-output * {
        width: 50%;
    }

    .flex-row {
        margin-bottom: 10px;
    }
}
