body {
    font-family: sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.flex-row .space-around {
    justify-content: space-around;
}

.alert {
    background-color: #F2E0DE;
    border: 1px solid #E3BAB5;
    color: #D12C1A;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
}

button {
    border: 1px solid #0D683C;
    background-color: #0D683C;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    padding: 8px 25px;
}

input {
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 30px;
    padding: 5px 10px;
    width: 100px;
    background-color: white;
    color: black;
}

.dice-display {
    max-width: 600px;
}

label {
    width: 200px;
}

.dice-display i {
    margin: 5px 10px;
}

.die {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.die svg {
    height: 100px;
    width: 100px;
    transform: scale(0.5) translate(-50px, -50px);
}

.die .body {
    fill: black;
}
.die-six .body, .die-five .body {
    fill: #0D683C;
}

.die-one .body {
    fill: #D12C1A;
}

.roll-result {
    margin-left: 20px;
}

.dice-input {
    width: 400px;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 20px;
    }
    label {
        font-size: 30px;
    }

    input {
        font-size: 30px;
        width: 70px;
    }

    button {
        font-size: 30px;
    }

    .numerical-output {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .numerical-output * {
        width: 50%;
    }

    .flex-row {
        margin-bottom: 10px;
    }
}

.hidden {
    display: none;
}
